@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


html {
  font-size: 62.5%;
  color: var(--cor-branca);
  font-weight: 300;
  scroll-behavior: smooth;
  color: var(--color-6);
 
}

body{
  font-family: "Jost", sans-serif;
  font-size: var(--fonte-normal);
  overflow-x: hidden;
}

section h2{
  font-size: var(--fonte-extra-grande);
  margin-bottom: 20px;
}
